* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #272626;
  padding: 16px 10px;
  opacity: 0.8;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-left {
  display: flex;
  list-style: none;
}


.nav-right {
  display: flex;
  list-style: none;
}


.nav-left li,
.nav-right li {
  margin: 0 15px;
}


.nav-left li a,
.nav-right li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}


.nav-left li a:hover,
.nav-right li a:hover {
  color: rgba(255, 255, 255, 0.684);
}


.nav-left li a svg,
.nav-right li a svg {
  margin-right: 8px;
}


@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-left,
  .nav-right {
    flex-direction: column;
    text-align: center;
  }

  .nav-left li,
  .nav-right li {
    margin: 10px 0;
  }
}
