.nav-right {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #272626; 
  border: 1px solid rgba(204, 204, 204, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  width: 250px;
  max-height: 240px; 
  overflow-y: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
}

.login-form form {
  background-color: transparent;
  margin: 0;
}

.login-form .form-group {
  margin-bottom: 2px; 
}

.form-group label {
  color: white; 
}

.login-form input {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: -15px;
  font-size: 12px;
}

.login-form button {
  padding: 6px;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #e67e22;
  margin-top: 4px;
}

.error-message {
  padding: 4px; 
  margin-top: 4px; 
  color: #cc0033; 
  font-size: 14px;
  font-weight: bold;
  text-align: center; 
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); 
}
