.login-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
  }
  
  /* Flex-grow 1 gör att denna del tar upp all ledig plats */
  .login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrerar innehållet vertikalt */
    align-items: center; /* Centrerar innehållet horisontellt */
  }
  
  /* Footer längst ner */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  