@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.plan-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.plan-box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  padding: 20px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  height: 325px;
  align-items: center;

  padding: 20px;
  margin: 10px;
  width: 300px;

}

.plan-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.plan-box h2 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}

.plan-box h3 {
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 6px;
}

.plan-box p {
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
}

.price {
  font-size: 2em;
  color: #e67e22;
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
}

.buy-btn {
  background-color: #f39c12;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
}

.buy-btn:hover {
  background-color: #e67e22;
}

.top-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}
