.signup-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .signup-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  